<section class="container-fluid">
  <div class="row main-title title">
    <h1>"<%= @show['name'] %>"<h1>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-4 poster align-self-center">
      <% if @show['backdrop_path'] != nil %>
        <%= image_tag "#{@config.base_url}w342#{@show['backdrop_path']}", class: "poster-image" %>
      <% end %>
        <div class="col overview">
          <strong>Overview:</strong><br>
          <%= @show['overview'] %>
        </div>
    </div>
    <div class="col-4 cast">
      <ul class="cast-list"><strong>Cast:</strong>
        <% @cast.each do |cast| %>
          <li class="cast-item"><%= cast['character'] %>: <%= cast['name'] %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-3 quick-facts">
      <strong>Quick Facts:</strong>
      <ul>
      <li class="facts"><strong>First Air Date:</strong>
        <%= @show['first_air_date'] %>
      </li>
      <li class="facts"><strong>Last Air Date:</strong>
        <%= @show['last_air_date'] %>
      </li>
      <li class="facts"><strong>Created by:</strong>
          <% @show['created_by'].each do |person| %>
            <li><%= person['name'] %></li>
          <% end %>
      </li>
      <li class="facts"><strong>Number of Seasons:</strong>
          <%= @show['seasons'].count %>
      </li>
      <li class="facts"><strong>Genre:</strong>
        <% @show['genres'].each do |genre| %>
          <li><%= genre['name'] %></li>
        <% end %>
      </li>
      <li class="facts"><strong>Vote Average:</strong>
        <%= @show['vote_average'] %>
      </li>
    </div>
  </div>
</div>

<div class="container">
  <div class="row search-bar vertical-center">
    <div class="col-6 container form">
      <%= form_tag(shows_path, :method => "get") do %>
      <div class='form-group' aria-hidden='true'>
        <%= text_field_tag(:name, params[:name], class: "form-control", placeholder: "Search TV Shows") %>
      </div>
      <div class='form-group' aria-hidden='true'>
        <%= submit_tag("Find a Show!", class: "btn btn-success") %>
      </div>
      <% end %>
      <div class="row">
        <div class="col">
          <%= link_to 'Back', url_for(:back), class: 'btn btn-primary back', 'aria-label': "back button" %>
        </div>
      </div>
    </div>
  </div>
</div>